body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: brown;
}





@media screen and (min-width: 768px){
        #css-background-image{
        height: 394px;
        background-image: url(../images/saturn-700.png);
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 1200px){
        #css-background-image{
        height: 675px;
        background-image: url(../images/saturn-1200.png);
        background-repeat: no-repeat;
    }
}